body {
    background-color: rgb(25, 23, 27);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.giphy {
    margin: 10px;
}
h1 {
    display: inline;
    position: absolute;
    font-size: 66px;
    margin-top: 5px;
}

p,
label {
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 1px;
}

.category-btn,
#add-category {
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    width: 100px;
    height: 30px;
    letter-spacing: 1px;

}

.category-btn{
    background-color: rgb(152, 51, 253);
    margin: 10px;
}

#add-category {
    background-color: rgb(2, 202, 254);
    margin: 20px;
}
#category-input {
    color: black;
}
.category {
    width: 360px;
    display: inline-block;
}

#rating,
#notice {
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
}